.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.streamlit/secrets.toml

*.log
.DS_Store
Thumbs.db

dados_reais/
contatos_reais/
exports/
*.sqlite
*.db

calculadora_ebola_contatos_monitoramento.csv
calculadora_ebola_cadeia_transmissao.csv
calculadora_ebola_janelas.csv
calculadora_ebola_janelas.json